service nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service.samsung
    interface android.hardware.nfc@1.2::INfc default
    interface android.hardware.nfc@1.1::INfc default
    interface android.hardware.nfc@1.0::INfc default
    class hal
    user nfc
    group nfc
    seclabel u:r:nfc:s0
    
