# Init transition.
allow init nfc:process transition;

# Vendor file accesses.
allow nfc vendor_file:file { entrypoint read }; 

allow init nfc:process { rlimitinh siginh noatsecure };

allow nfc hal_nfc_hwservice:hwservice_manager { add find }; 
allow nfc hidl_base_hwservice:hwservice_manager { add find }; 

allow nfc mediaserver_exec:file { read }; 

# TODO(b/36657258): Remove data_between_core_and_vendor_violators once
# hal_nfc no longer directly accesses /data owned by the nfc app.
typeattribute nfc data_between_core_and_vendor_violators;

# Data file accesses.
allow nfc nfc_data_file:dir create_dir_perms;
allow nfc nfc_data_file:{ file lnk_file fifo_file } create_file_perms;
allow nfc nfc_data_file:dir { search read write create remove_name };
